.profilepicture{

	width:50%;

}


#me{

	width:225px;
	


}


.container{background-color:#fff;padding-bottom:2%}ul.side-nav a{font-size:2em}ul.side-nav{background-image:url(/images/noisy_grid_@2X.png)}.header{width:100%;height:10px;background-color:#1c4074;margin-bottom:25px}body{margin:0;width:100%;padding:0}#myName{font-size:48px;font-family:futura-pt,sans-serif;line-height:1em}#contactDetails{float:left;font-size:1em;font-family:Roboto,sans-serif;text-align:right;line-height:1em}#cvDescription{background-color:#E9E9E9;padding-left:4%}#dateRoles{font-size:1.5em;font-family:futura-pt,sans-serif;font-weight:800}#contact-button{margin-left:0}.parallax-container{height:520px;width:100%;z-index:99}.whatweoffercontainer{width:100%;padding:10%;background-image:url(/images/halftone.png)}#headerimage{height:20%;background-color:#000;width:100;padding-top:10%;padding-bottom:10;background-image:url(/images/hero.png)}#myworktext{text-align:center;padding-left:5%;padding-right:5%;padding-bottom:2%;width:100%}#letsworktogeater{text-align:center}.footer{width:100%;height:auto:;postion:fixed;bottom:0;background-image:url(/images/footerbackground.png)}#contactfootertext{font-size:2em;color:#fff;padding-left:5%;padding-top:10px;font-family:Arimo,sans-serif}#copyrighttext a{color:#fff;padding-left:5%}h1{font-size:2em;line-height:5em}h2{font-size:1.5em;line-height:1.2em}h3{font-size:1.9em;font-weight:300}p{font-size:1em}